*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  margin-top: 1.5rem;
  background: #ccc;
  border-radius: 0.18rem;
  padding: 0.3rem 0.5rem;
}